<small class="help-block" ng-show="errors.minLength" wd-minLength>Passordet er for kort</small>
<small class="help-block" ng-show="errors.maxLength" wd-maxLength>Passordet er for langt</small>
<small class="help-block" ng-show="errors.requireNumeric" wd-requireNumeric>Passordet må inneholdet et nummer</small>
<small class="help-block" ng-show="errors.requireDiacritical" wd-requireDiacritical>Passord må inneholde et spesialtegn</small>
<small class="help-block" ng-show="errors.requireUpperCase" wd-requireUpperCase>Passordet må inneholde minst en stor bokstav</small>
<small class="help-block" ng-show="errors.requireLowerCase" wd-requireLowerCase>passordet må inneholde minst en liten bokstav</small>